<section class="container certificate line">
  <h2>Certificaciones</h2>
  <article>
    <%= image_tag 'certificado/certificado-2.jpg' %>
    <button>
      Descargar
      <i class="fa fa-download"></i>
    </button>
  </article>
  <article>
    <%= image_tag 'certificado/certificado-3.jpg' %>
    <button>
      Descargar
      <i class="fa fa-download"></i>
    </button>
  </article>
  <article>
    <%= image_tag 'certificado/certificado-4.jpg' %>
    <button>
      Descargar
      <i class="fa fa-download"></i>
    </button>
  </article>
  <article>
    <%= image_tag 'certificado/certificado-5.jpg' %>
    <button>
      Descargar
      <i class="fa fa-download"></i>
    </button>
  </article>
  <article>
    <%= image_tag 'certificado/certificado-6.jpg' %>
    <button>
      Descargar
      <i class="fa fa-download"></i>
    </button>
  </article>
  <article>
    <%= image_tag 'certificado/certificado-7.jpg' %>
    <button>
      Descargar
      <i class="fa fa-download"></i>
    </button>
  </article>
  <article>
    <%= image_tag 'certificado/certificado-8.jpg' %>
    <button>
      Descargar
      <i class="fa fa-download"></i>
    </button>
  </article>
  <article>
    <%= image_tag 'certificado/certificado-10.jpg' %>
    <button>
      Descargar
      <i class="fa fa-download"></i>
    </button>
  </article>
  <article>
    <%= image_tag 'certificado/certificado-11.jpg' %>
    <button>
      Descargar
      <i class="fa fa-download"></i>
    </button>
  </article>
  <article>
    <%= image_tag 'certificado/certificado-12.jpg' %>
    <button>
      Descargar
      <i class="fa fa-download"></i>
    </button>
  </article>
  <article>
    <%= image_tag 'certificado/certificado-13.jpg' %>
    <button>
      Descargar
      <i class="fa fa-download"></i>
    </button>
  </article>
  <article>
    <%= image_tag 'certificado/certificado-14.jpg' %>
    <button>
      Descargar
      <i class="fa fa-download"></i>
    </button>
  </article>
  <article>
    <%= image_tag 'certificado/certificado-15.jpg' %>
    <button>
      Descargar
      <i class="fa fa-download"></i>
    </button>
  </article>
  <article>
    <%= image_tag 'certificado/certificado-16.jpg' %>
    <button>
      Descargar
      <i class="fa fa-download"></i>
    </button>
  </article>
  <article>
    <%= image_tag 'certificado/certificado-17.jpg' %>
    <button>
      Descargar
      <i class="fa fa-download"></i>
    </button>
  </article>
  <article>
    <%= image_tag 'certificado/certificado-18.jpg' %>
    <button>
      Descargar
      <i class="fa fa-download"></i>
    </button>
  </article>
  <article>
    <%= image_tag 'certificado/certificado-19.jpg' %>
    <button>
      Descargar
      <i class="fa fa-download"></i>
    </button>
  </article>
  <article>
    <%= image_tag 'certificado/certificado-20.jpg' %>
    <button>
      Descargar
      <i class="fa fa-download"></i>
    </button>
  </article>
  <article>
    <%= image_tag 'certificado/certificado-9.jpg' %>
    <button>
      Descargar
      <i class="fa fa-download"></i>
    </button>
  </article>
</section>
<section class="container blog">
  <h2>Novedades</h2>
  <article class="blog-1">
    <%= image_tag 'blog/blog1.jpg' %>
    <div class="info">
      <span class="title">Título que describa el primer blog</span>
      <span class="description">Lorem ipsum dolor sit amet.</span>
    </div>
  </article>
  <article class="blog-1">
    <%= image_tag 'blog/blog1.jpg' %>
    <div class="info">
      <span class="title">Título que describa el segundo blog</span>
      <span class="description">Lorem ipsum dolor sit amet.</span>
  </article>
  <article class="blog-1">
    <%= image_tag 'blog/blog1.jpg' %>
    <div class="info">
      <span class="title">Título que describa el tercer blog</span>
      <span class="description">Lorem ipsum dolor sit amet.</span>
    </div>
  </article>
</section>