<section class="container certificate line">
  <h2>Certificaciones</h2>
  <article>
    <%= image_tag 'certificado/certificado-2.jpg' %>
    <a href="https://s3.amazonaws.com/miranda-web/certificados/certificado-2.pdf" download="certificado-2">
      <button>
        Descargar
        <i class="fa fa-download"></i>
      </button>
    </a>
  </article>
  <article>
    <%= image_tag 'certificado/certificado-3.jpg' %>
    <a href="https://s3.amazonaws.com/miranda-web/certificados/certificado-3.pdf" download="certificado-3">
      <button>Descargar!!
      <i class="fa fa-download"></i></button>
    </a>
  </article>
  <article>
    <%= image_tag 'certificado/certificado-4.jpg' %>
    <a href="https://s3.amazonaws.com/miranda-web/certificados/certificado-4.pdf" download="certificado-4">
      <button>
        Descargar
        <i class="fa fa-download"></i>
      </button>
    </a>
  </article>
  <article>
    <%= image_tag 'certificado/certificado-5.jpg' %>
    <a href="https://s3.amazonaws.com/miranda-web/certificados/certificado-5.pdf" download="certificado-5">
      <button>
        Descargar
        <i class="fa fa-download"></i>
      </button>
    </a>
  </article>
  <article>
    <%= image_tag 'certificado/certificado-6.jpg' %>
    <a href="https://s3.amazonaws.com/miranda-web/certificados/certificado-6.jpg" download="certificado-6">
      <button>
        Descargar
        <i class="fa fa-download"></i>
      </button>
    </a>
  </article>
  <article>
    <%= image_tag 'certificado/certificado-7.jpg' %>
    <a href="https://s3.amazonaws.com/miranda-web/certificados/certificado-7.jpg" download="certificado-7">
      <button>
        Descargar
        <i class="fa fa-download"></i>
      </button>
    </a>
  </article>
  <article>
    <%= image_tag 'certificado/certificado-8.jpg' %>
    <a href="https://s3.amazonaws.com/miranda-web/certificados/certificado-8.pdf" download="certificado-8">
      <button>
        Descargar
        <i class="fa fa-download"></i>
      </button>
    </a>
  </article>
  <article>
    <%= image_tag 'certificado/certificado-20.jpg' %>
    <a href="https://s3.amazonaws.com/miranda-web/certificados/certificado-20.jpg" download="certificado-20">
      <button>
        Descargar
        <i class="fa fa-download"></i>
      </button>
    </a>
  </article>
</section>
<section class="container blog">
  <h2>Novedades</h2>
  <article class="blog-1">
    <%= image_tag 'blog/blog1.jpg' %>
    <div class="info">
      <span class="title">Título que describa el primer blog</span>
      <span class="description">Lorem ipsum dolor sit amet.</span>
    </div>
  </article>
  <article class="blog-1">
    <%= image_tag 'blog/blog1.jpg' %>
    <div class="info">
      <span class="title">Título que describa el segundo blog</span>
      <span class="description">Lorem ipsum dolor sit amet.</span>
  </article>
  <article class="blog-1">
    <%= image_tag 'blog/blog1.jpg' %>
    <div class="info">
      <span class="title">Título que describa el tercer blog</span>
      <span class="description">Lorem ipsum dolor sit amet.</span>
    </div>
  </article>
</section>