<section class="container certificate">
  <h2>Certificaciones</h2>
  <article>
    <%= image_tag 'certificado/certificado.jpg' %>
    <button>
      Global G.A.P.
      <i class="fa fa-download"></i>
    </button>
  </article>
  <article>
    <%= image_tag 'certificado/certificado.jpg' %>
    <button>
      Global G.A.P.
      <i class="fa fa-download"></i>
    </button>
  </article>
  <article>
    <%= image_tag 'certificado/certificado.jpg' %>
    <button>
      Global G.A.P.
      <i class="fa fa-download"></i>
    </button>
  </article>
  <article>
    <%= image_tag 'certificado/certificado.jpg' %>
    <button>
      Global G.A.P.
      <i class="fa fa-download"></i>
    </button>
  </article>
</section>
<section class="container blog">
  <h2>Novedades</h2>
  <article class="blog-1">
    <a href="#">
      <div class="overlay"></div>
      <%= image_tag 'blog/blog1.jpg' %>
      <div class="info">
        <span class="title">Título que describa el primer blog</span>
        <span class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
        <i class="fa fa-long-arrow-right"></i>
      </div>
    </a>
  </article>
  <article class="blog-2">
    <a href="#">
      <div class="overlay"></div>
      <%= image_tag 'blog/blog1.jpg' %>
      <div class="info">
        <span class="title">Título que describa el segundo blog</span>
        <span class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
        <i class="fa fa-long-arrow-right"></i>
      </div>
    </a>
  </article>
  <article class="blog-3">
    <a href="#">
      <div class="overlay"></div>
      <%= image_tag 'blog/blog1.jpg' %>
      <div class="info">
        <span class="title">Título que describa el tercer blog</span>
        <span class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
        <i class="fa fa-long-arrow-right"></i>
      </div>
    </a>
  </article>
  <article class="blog-4">
    <a href="#">
      <div class="overlay"></div>
      <%= image_tag 'blog/blog1.jpg' %>
      <div class="info">
        <span class="title">Título que describa el cuarto blog</span>
        <span class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
        <i class="fa fa-long-arrow-right"></i>
      </div>
    </a>
  </article>
</section>