<section class="main slider-container container line">
  <ul id="slider" class="slider-wrapper">
    <li class="slide-current">
      <%= image_tag 'slider/background-main.jpg' %>
    </li>
    <li>
      <%= image_tag 'slider/miranda-slider.jpg' %>
    </li>
  </ul>
</section>
<section class="product container line">
  <h2>Ofrecemos productos de calidad</h2>
  <article>
    <a href="/descripcion-producto">
      <div class="overlay"></div>
      <%= image_tag 'productos/amarilla-background.jpg' %>
    </a>
  </article>
  <article>
    <a href="/descripcion-producto">
      <div class="overlay"></div>
      <%= image_tag 'productos/roja-background.jpg' %>
    </a>
  </article>
  <article>
    <a href="/descripcion-producto">
      <div class="overlay"></div>
      <%= image_tag 'productos/ajos-background.jpg' %>
    </a>
  </article>
</section>
<section class="container certificate line">
  <h2>Certificaciones</h2>
  <article>
    <%= image_tag 'certificado/certificado-2.jpg' %>
    <button>
      Descargar
      <i class="fa fa-download"></i>
    </button>
  </article>
  <article>
    <%= image_tag 'certificado/certificado-3.jpg' %>
    <button>
      Descargar
      <i class="fa fa-download"></i>
    </button>
  </article>
  <article>
    <%= image_tag 'certificado/certificado-4.jpg' %>
    <button>
      Descargar
      <i class="fa fa-download"></i>
    </button>
  </article>
  <article>
    <%= image_tag 'certificado/certificado-5.jpg' %>
    <button>
      Descargar
      <i class="fa fa-download"></i>
    </button>
  </article>
</section>
<section class="container blog line">
  <h2>Novedades</h2>
  <%= render :partial => "/refinery/blog/shared/post", :collection => @posts %>
</section>
<section class="container company">
  <h2>Empresas que forman parte de Miranda</h2>
  <%= image_tag 'empresas/agricola-logo.png' %>
  <%= image_tag 'empresas/miranda-internacional-logo.png' %>
  <%= image_tag 'empresas/agricola-logo.png' %>
</section>