<section class="main">
  <h1>Frase fuerza en Miranda somos...</h1>
</section>
<section class="product content">
  <h2>Ofrecemos productos de calidad</h2>
  <article>
    <a href="#">
      <div class="overlay"></div>
      <%= image_tag 'productos/amarilla-background.jpg' %>
      <span>Cebolla amarilla</span>
    </a>
  </article>
  <article>
    <a href="#">
      <div class="overlay"></div>
      <%= image_tag 'productos/roja-background.jpg' %>
      <span>Cebolla roja</span>
    </a>
  </article>
  <article>
    <a href="#">
      <div class="overlay"></div>
      <%= image_tag 'productos/ajos-background.jpg' %>
      <span>Ajos</span>
    </a>
  </article>
</section>
<section class="content certificate">
  <h2>Certificaciones</h2>
  <article>
    <%= image_tag 'certificado/certificado.jpg' %>
    <button>
      Global G.A.P.
      <i class="fa fa-download"></i>
    </button>
  </article>
  <article>
    <%= image_tag 'certificado/certificado.jpg' %>
    <button>
      Global G.A.P.
      <i class="fa fa-download"></i>
    </button>
  </article>
  <article>
    <%= image_tag 'certificado/certificado.jpg' %>
    <button>
      Global G.A.P.
      <i class="fa fa-download"></i>
    </button>
  </article>
  <article>
    <%= image_tag 'certificado/certificado.jpg' %>
    <button>
      Global G.A.P.
      <i class="fa fa-download"></i>
    </button>
  </article>
</section>
<section class="content blog">
  <h2>Novedades</h2>
  <article class="blog-1">
    <%= image_tag 'blog/blog1.jpg' %>
  </article>
  <article class="blog-2">
    <%= image_tag 'blog/blog1.jpg' %>
  </article>
  <article class="blog-3">
    <%= image_tag 'blog/blog1.jpg' %>
  </article>
  <article class="blog-4">
    <%= image_tag 'blog/blog1.jpg' %>
  </article>
</section>
<section>
  <h2>Empresas que forman parte de Miranda</h2>
  <img src=""/>
  <img src=""/>
  <img src=""/>
</section>
