<section class="main slider-container container line">
  <ul id="slider" class="slider-wrapper">
    <li class="slide-current">
      <%= image_tag 'slider/background-main.jpg' %>
    </li>
    <li>
      <%= image_tag 'slider/miranda-slider.jpg' %>
    </li>
  </ul>
</section>
<section class="product container line">
  <h2>Ofrecemos productos de calidad</h2>
  <article>
    <a href="/descripcion-producto">
      <div class="overlay"></div>
      <%= image_tag 'productos/amarilla-background.jpg' %>
    </a>
  </article>
  <article>
    <a href="/descripcion-producto">
      <div class="overlay"></div>
      <%= image_tag 'productos/roja-background.jpg' %>
    </a>
  </article>
  <article>
    <a href="/descripcion-producto">
      <div class="overlay"></div>
      <%= image_tag 'productos/ajos-background.jpg' %>
    </a>
  </article>
</section>
<section class="container certificate line">
  <h2>Certificaciones</h2>
  <article>
    <%= image_tag 'certificado/certificado-2.jpg' %>
    <button>
      Descargar
      <i class="fa fa-download"></i>
    </button>
  </article>
  <article>
    <%= image_tag 'certificado/certificado-3.jpg' %>
    <button>
      Descargar
      <i class="fa fa-download"></i>
    </button>
  </article>
  <article>
    <%= image_tag 'certificado/certificado-4.jpg' %>
    <button>
      Descargar
      <i class="fa fa-download"></i>
    </button>
  </article>
  <article>
    <%= image_tag 'certificado/certificado-5.jpg' %>
    <button>
      Descargar
      <i class="fa fa-download"></i>
    </button>
  </article>
</section>
<section class="container blog line">
  <h2>Novedades</h2>
  <article class="blog-1">
    <a href="#">
      <div class="overlay"></div>
      <%= image_tag 'blog/blog1.jpg' %>
      <div class="info">
        <span class="title">Título que describa el primer blog</span>
        <span class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
        <i class="fa fa-long-arrow-right"></i>
      </div>
    </a>
  </article>
  <article class="blog-2">
    <a href="#">
      <div class="overlay"></div>
      <%= image_tag 'blog/blog1.jpg' %>
      <div class="info">
        <span class="title">Título que describa el segundo blog</span>
        <span class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
        <i class="fa fa-long-arrow-right"></i>
      </div>
    </a>
  </article>
  <article class="blog-3">
    <a href="#">
      <div class="overlay"></div>
      <%= image_tag 'blog/blog1.jpg' %>
      <div class="info">
        <span class="title">Título que describa el tercer blog</span>
        <span class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
        <i class="fa fa-long-arrow-right"></i>
      </div>
    </a>
  </article>
  <article class="blog-4">
    <a href="#">
      <div class="overlay"></div>
      <%= image_tag 'blog/blog1.jpg' %>
      <div class="info">
        <span class="title">Título que describa el cuarto blog</span>
        <span class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
        <i class="fa fa-long-arrow-right"></i>
      </div>
    </a>
  </article>
</section>
<section class="container company">
  <h2>Empresas que forman parte de Miranda</h2>
  <%= image_tag 'empresas/agricola-logo.png' %>
  <%= image_tag 'empresas/miranda-internacional-logo.png' %>
  <%= image_tag 'empresas/agricola-logo.png' %>
</section>