<section class="story">
  <div class="container">
    <h2>¿Quiénes somos?</h2>
    <p>Somos una empresa peruana con capital humano de más de 30 años de experiencia en la actividad agroindustrial, que desarrolla sus actividades en las ciudades de Arequipa e Ica. En la actualidad estamos enfocados en la producción de cebolla dulce para su exportación.</p>
  </div>
  <div class="mision-vision">
    <article>
      <h3><i class="fa fa-rocket"></i> Misión</h3>
      <p>Satisfacer las necesidades de nuestros clientes nacionales y extranjeros, proporcionando productos agrícolas de calidad, facilitando el desarrollo de nuestros colaboradores y proveedores, procurando el bienestar y crecimiento de nuestra sociedad.</p>
    </article>
    <article>
      <h3><i class="fa fa-eye"></i> Visión</h3>
      <p>Liderar la producción, procesamiento y comercialización de productos agrícolas de calidad.</p>
    </article>
  </div>
</section>
<div class="main container line">
  <%= image_tag 'miranda-agricola.jpg', class: 'wider-image' %>
</div>
<section class="values container line">
  <h2>Nuestros valores</h2>
  <div>
    <article>
      <h3>Calidad</h3>
      <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
    </article>
    <article>
      <h3>Puntualidad</h3>
      <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
    </article>
  </div>
  <div>
    <article>
      <h3>Responsabilidad</h3>
      <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
    </article>
    <article>
      <h3>Honestidad</h3>
      <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
    </article>
  </div>
</section>
<section class="map container line">
  <h2>Nuestro mercado</h2>
  <%= image_tag 'mapa-exportacion.png' %>
</section>
<section class="company container">
  <h2>Empresas que forman parte de Miranda</h2>
  <%= image_tag 'empresas/agricola-logo.png' %>
  <%= image_tag 'empresas/miranda-internacional-logo.png' %>
  <%= image_tag 'empresas/agricola-logo.png' %>
</section>