<div>
  <article>
    <i class="fa fa-envelope"></i>
    <div>
      <span>Contáctanos</span>
      <span>contacto@grupomiranda.com</span>
    </div>
  </article>
  <article>
    <i class="fa fa-map-marker"></i>
    <div>
      <span>Ubícanos en</span>
      <span>Carretera Panamericana Sur Km 278 Salas Guadalupe - Ica</span>
    </div>
  </article>
  <article>
    <i class="fa fa-facebook-square"></i>
    <div>
      <span>Síguenos en</span>
      <span>/grupomiranda</span>
    </div>
  </article>
</div>
<ul>
  <%= link_to_in_li "Inicio", '/' %>
  <%= link_to_in_li "Nosotros", '/nosotros' %>
  <%= link_to_in_li "Productos", '/productos' %>
  <%= link_to_in_li "Calidad", '/calidad' %>
  <%= link_to_in_li "Contacto", '/contacto' %>
  <%= link_to_in_li "Blog", '/blog' %>
</ul>