<div>
  <div class="container">
    <article>
      <i class="fa fa-phone"></i>
      <div>
        <span>Contáctanos</span>
        <span>056-771838</span>
      </div>
    </article>
    <article>
      <i class="fa fa-facebook-square"></i>
      <div>
        <span>Síguenos en</span>
        <span>/grupomiranda</span>
      </div>
    </article>
    <article>
      <i class="fa fa-map-marker"></i>
      <div>
        <span>Ubícanos en</span>
        <span>Carretera Panamericana Sur Km 278</span>
      </div>
    </article>
  </div>
</div>
<ul>
  <%= link_to_in_li "INICIO", '/' %>
  <%= link_to_in_li "NOSOTROS", '/nosotros' %>
  <%= link_to_in_li "PRODUCTOS", '/productos' %>
  <%= link_to_in_li "CALIDAD", '/calidad' %>
  <%= link_to_in_li "CONTACTO", '/contacto' %>
  <%= link_to_in_li "BLOG", '/blog' %>
</ul>