<div>
  <div class="container">
    <article>
      <i class="fa fa-phone"></i>
      <div>
        <span>Contáctanos</span>
        <span>056-771838</span>
      </div>
    </article>
    <article>
      <i class="fa fa-facebook-square"></i>
      <div>
        <span>Síguenos en</span>
        <span>/grupomiranda</span>
      </div>
    </article>
    <article>
      <i class="fa fa-map-marker"></i>
      <div>
        <span>Ubícanos en</span>
        <span>Carretera Panamericana Sur Km 278</span>
      </div>
    </article>
  </div>
</div>
<ul>
  <%= link_to_in_li "Inicio", '/' %>
  <%= link_to_in_li "Nosotros", '/nosotros' %>
  <%= link_to_in_li "Productos", '/productos' %>
  <%= link_to_in_li "Calidad", '/calidad' %>
  <%= link_to_in_li "Contacto", '/contacto' %>
  <%= link_to_in_li "Blog", '/blog' %>
</ul>