<div>
  <div class="container">
    <article>
      <i class="fa fa-phone"></i>
      <div>
        <% if locale.to_s == "es" %>
        <span>Contáctanos</span>
        <% elsif locale.to_s == "en" %>
        <span>Contact Us</span>
        <% else %>
        <span>Contato</span>
        <% end %>
        <span>51+ (56) 771838</span>
      </div>
    </article>
    <article>
      <i class="fa fa-facebook-square"></i>
      <div>
        <% if locale.to_s == "es" %>
        <span>Síguenos en</span>
        <% elsif locale.to_s == "en" %>
        <span>Follow Us</span>
        <% else %>
        <span>Siga-nos</span>
        <% end %>
        <a href="https://www.facebook.com/grupomirandape" target="_blank">/grupomirandape</a>
      </div>
    </article>
    <article>
      <i class="fa fa-map-marker"></i>
      <div>
        <% if locale.to_s == "es" %>
        <span>Ubícanos en</span>
        <span>Carretera Panamericana Sur Km 278</span>
        <% elsif locale.to_s == "en" %>
        <span>Find Us</span>
        <span>Panamericana Sur Km 278 Road</span>
        <% else %>
        <span>Encontre-nos</span>
        <span>Panamericana Sur Km 278 Road</span>
        <% end %>
      </div>
    </article>
  </div>
</div>
<ul id="navigation-menu">
  <% if locale.to_s == "es" %>
    <%= link_to_in_li "INICIO", '/' %>
    <%= link_to_in_li "NOSOTROS", '/nosotros' %>
    <%= link_to_in_li "CEBOLLA AMARILLA", '/cebolla-amarilla' %>
    <%= link_to_in_li "PRODUCTOS", '/productos' %>
    <%= link_to_in_li "CALIDAD", '/calidad' %>
    <%= link_to_in_li "BLOG", '/blog' %>
    <%= link_to_in_li "CONTACTO", '/contacto' %>
  <% elsif locale.to_s == "en" %>
    <%= link_to_in_li "HOME", '/' + locale.to_s %>
    <%= link_to_in_li "THE COMPANY", '/' + locale.to_s + '/nosotros' %>
    <%= link_to_in_li "SWEET ONION", '/cebolla-amarilla' %>
    <%= link_to_in_li "PRODUCTS",'/' + locale.to_s + '/products' %>
    <%= link_to_in_li "QUALITY", '/' +locale.to_s + '/calidad' %>
    <%= link_to_in_li "BLOG", '/' +locale.to_s + '/blog' %>
    <%= link_to_in_li "CONTACT", '/' +locale.to_s + '/contacto' %>
  <% else %>
    <%= link_to_in_li "INÍCIO", '/' + locale.to_s %>
    <%= link_to_in_li "A EMPRESA", '/' + locale.to_s + '/a-empresa' %>
    <%= link_to_in_li "CEBOLA AMARELA", '/cebola-amarela' %>
    <%= link_to_in_li "PRODUTOS",'/' + locale.to_s + '/produtos' %>
    <%= link_to_in_li "QUALIDADE", '/' +locale.to_s + '/qualidade' %>
    <%= link_to_in_li "BLOG", '/' +locale.to_s + '/blog' %>
    <%= link_to_in_li "CONTATO", '/' +locale.to_s + '/contato' %>
  <% end %>
</ul>