<%= link_to refinery.root_path do %>
  <%= image_tag "miranda-logo.png", :class => "logo" %>
<% end %>
<ul class="language" id='locale'>
  <% Refinery::I18n.frontend_locales.each do |frontend_locale| %>
      <li>
        <%= link_to Refinery::I18n.locales[frontend_locale], refinery.url_for(:locale => frontend_locale) %>
      </li>
  <% end %>
</ul>
<i class="navigation-menu-button fa fa-bars" id="mobile-menu"></i>
<nav>
  <ul id="navigation-menu">
      <%= link_to_in_li "INICIO", '/' %>
      <%= link_to_in_li "NOSOTROS", '/nosotros' %>
      <%= link_to_in_li "PRODUCTOS", '/productos' %>
      <%= link_to_in_li "CALIDAD", '/calidad' %>
      <%= link_to_in_li "BLOG", '/blog' %>
      <%= link_to_in_li "CONTACTO", '/contacto' %>
  </ul>
</nav>