<%= link_to refinery.root_path do %>
  <%= image_tag "miranda-logo.png", :class => "logo" %>
<% end %>
<ul class="language" id='locale'>
  <li><%= I18n.locale == "es" ? "es" : link_to("Español", { :locale => "es" })
      %></li>
  <li><%= I18n.locale == "en" ? "en" : link_to("English", { :locale => "en" })
    %></li>
  <li><%= I18n.locale == "pt" ? "pt" : link_to("Português", { :locale => "pt" })
    %></li>
</ul>
<i class="navigation-menu-button fa fa-bars" id="mobile-menu"></i>
<nav>
  <ul id="navigation-menu">
      <%= link_to_in_li "INICIO", '/' %>
      <%= link_to_in_li "NOSOTROS", '/nosotros' %>
      <%= link_to_in_li "PRODUCTOS", '/productos' %>
      <%= link_to_in_li "CALIDAD", '/calidad' %>
      <%= link_to_in_li "BLOG", '/blog' %>
      <%= link_to_in_li "CONTACTO", '/contacto' %>
  </ul>
</nav>